@import 'tailwindcss';

:root {
  --font-primary:
    'Pretendard', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

/* Tailwind 기본 스타일 설정 */
@layer base {
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--margin-bg-color);
    font-family: var(--font-default);
  }
}
