@import 'tailwindcss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: auto; /* 이미지 높이를 자동으로 설정하여 왜곡 방지 */
  max-height: 6em; /* 이미지의 최대 높이를 설정 */
  padding: 0; /* padding 제거 */
  will-change: filter;
  transition: filter 300ms;
  object-fit: contain; /* 이미지 비율 유지 */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
